<h1>Update Listing</h1>
<h4 id='message'>Update your listing here!</h4>
<form method="post">
  <div class="form-group">
    <p><label for="host">Host</label>  
      <input class="form-control" name="host" id="host">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="title">Title</label>
      <input class="form-control" name="title" id="title">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="location">Location</label>  
      <input class="form-control" name="location" id="location">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="ppn">Price per night</label>  
      <input class="form-control" name="ppn" id="ppn">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="guests">Guests</label>  
      <input class="form-control" name="guests" id="guests">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="amenities">Amenities</label>   
      <input class="form-control" name="amenities" id="amenities">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="desc">Description</label>  
      <input class="form-control" name="desc" id="desc">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
    <p><label for="availability">Availability</label>  
      <input class="form-control" name="availability" id="availability">
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update!">
    </p>
  </div>
</form>
<a href='/Home'>Home</a>
