
<!DOCTYPE html>
<html>
<head>
    <title>qBNB - Login</title>
</head>
<h1>Log In</h1>
<h4 id='message'>If you already have an account, log in here!</h4>
<form method="post">
  <div class="form-group">
    <label for="email">Email</label>  
    <!-- might want to replace instances of email with username? -->
    <input class="form-control" name="email" id="email" required>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <a href="/"><input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Log In"></a>
  </div>
</form>
<a href='/register'>Register</a>
If you don't have an account with us yet!
</html>