<!-- Profile update page -->
<h1> Upate Profile</h1>
<h4 id='Update your profile here:'></h4>
<form method="post">
    <div class="form-group">
        <p><label for="email">Email</label>
            <input class="form-control" name="email" id="email" required>
        </p>
        <p>
            <label for="name">Name</label>
            <input class="form-control" name="name" id="name" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
        </p>
        <p>
            <label for="password">Confirm Password</label>
            <input class="form-control" type="password" name="password2" id="password2" required>
        </p>
        <p>
            <label for="password">Billing Address</label>
            <input class="form-control" type="name" name="BillA" id="Billing Address">
        </p>
        <p>
            <label for="password">Postal Code</label>
            <input class="form-control" type="name" name="Postal" id="Postal" required>
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Update Profile">
        </p>



    </div>
</form>
<!--description of the page-->
<p id='description'>Update your profile here.</p>