<!DOCTYPE html>
<html>
<head>
    <title>qBNB-Register</title>
</head>
<h1>Register </h1>
<h4 id='message'> <p>New to qbnb?</p> Register below!</h4>
<form method="post">
  <div class="form-group">
    <p><label for="email">Email</label>
    <input class="form-control" name="email" id="email" required>
    </p>
    <p><label for="name">Username</label>
    <input class="form-control" name="name" id="name" required>
    </p>
    <p><label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    </p>
    <p><label for="password">Confirm Password</label>
    <input class="form-control" type="password" name="password2" id="password2" required>
    </p>
    <p>
    <a href="/login"><input class="btn btn-primary" type="submit" value="Register"></a>
    </p>
  <a href='/login' class="btn btn-primary" id="btn-submit" >Login</a>
  </div>
</form>
